.text-content {
	margin: 0 auto;
}

.bubble-content {
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	width: 200px;
	background-color: blue;
	color: yellow;
	font-size: 13px;
	border-top: 3px solid blue;
	border-left: 3px solid blue;
	border-right: 3px solid blue;
	border-bottom: 3px solid blue;
	box-shadow: 0 0 50px rgba(100, 100, 255, 50);
	border-radius: 10px;
}

.bubble-content:hover {
	-webkit-transform:rotate(5deg);
	transition-duration: 5s;
}
.bubble #arrow {
	position: relative;
	z-index: 1001;
	margin: 0 auto;
	height: 20px;
	width: 0px;
	border-top: 50px solid yellow;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;
}

.text-content {
	width: 700px;
	background-color: white;
	font-size: 13px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}


.text-content:hover {
	transition-duration: 0.3s;
	padding: 10px;
	font-size: 20px;
	background-color: #55DDDD;
	color: black;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 20px;
	text-shadow: 2px 2px white;
	width: 1200px;
	text-transform: uppercase;
}